{% extends "base.html" %}
{% load static %}
{% block title %}
  Search
{% endblock %}

{% block content %}
<div class="form-wrapper">
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="search" name="Categories" placeholder="Categories" type="text" required>
        </div>
        <br>
        <button class="btn btn-primary" type="submit">Search</button>

    </form>
</div>

{% endblock %}